.card {
    width: 18rem;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;

    .card_img_top {
        height: 250px;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 0 30%;
            vertical-align: middle;
            border-style: none;
        }
    }

    .card_body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;

        .card_title {
            margin-bottom: 0.75rem;
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 1.2;
        }

        .details {
            display: flex;
            justify-content: space-between;

            h6 {
                line-height: 1.2;

                font-size: 1rem;
                margin-bottom: 0.5rem;
                font-weight: 500;
                color: #dc3545;
            }
        }

        .card_text {
            height: 70px;
        }

        .details_btn {
            display: flex;
            justify-content: space-between;

            a {
                margin-right: 5px;
                flex: 1;
            }

            .btn {
                display: inline-block;
                font-weight: 400;
                color: #212529;
                text-align: center;
                background-color: transparent;
                border: 1px solid black;
                padding: 0.375rem 0.75rem;
                font-size: 1rem;
                line-height: 1.5;
                border-radius: 0.25rem;
                transition: all 0.3s;

                &:hover {
                    background-color: black;
                    color: white;
                }
            }
            cursor: pointer;
        }
    }
}
