.snackbar{
    position: relative;
    width: 100%; /* Set a default minimum width */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    // position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */


    span{
        position: absolute;
        top: 25%;
        right: 10%;
        font-size: 2rem;
        z-index: 2;
    }
}