.checkout_page {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .checkout_header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header_block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

  .total {
    display: flex;
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }
}

.payinfo {
  padding: 20px 0;
  width: 100%;
  display: flex;

  form {
    display: flex;
    flex-direction: column;
    width: 50%;

    h1{
      margin-bottom: 20px;
      font-weight: 300;
      letter-spacing: 1.5px;
    }


    input {
      margin-bottom: 20px;

    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


    
  .test_warning {
    text-align: center;

    margin: 40px 0;
    font-size: 24px;
    color: red;
  }
  }

  @media screen and(max-width:768px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
      width: 100%;
      margin-bottom: 23px;
    }

    .total {
      margin: 0;
    }
  }
}
