.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    background-color: transparent;
    border: 1px solid black;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: all 0.3s;
    min-width: 125px;
    cursor: pointer;

    &:hover {
        background-color: black;
        color: white;
    }
}