
.dropdown {
 .dropdown_header{
        display: flex;
        align-items: center;
    }

    &:hover {
        .dropdown_content {
            display: block;
            z-index: 10;
        }
    }
}
.dropdown_content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;

    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        &:hover {
            background-color: #f1f1f1;
        }
    }
}